.tamanho-md {
    width: 50%;
}

.endereco-flex .tamanho-sm {
    width: 20%;
}

.mostrar {
    display: none;
}

endereco-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}