{% extends "layout.html" %}
{% block body %}
<div class="container-contato">
    <div class="redes-sociais">
        <p class="nome-contato">Carolina Costa Mota Paraíba</p>
        <div class="redes-sociais-pessoa">
            <a href="mailto:carolina.paraiba@ufba.br" target="_blank"><img class="imagem-redes-sociais" src="/img/email.png" alt="Imagem representando uma mensagem dentro de um envelope. Clique nesta imagem para enviar uma mensagem para Carolina Costa Mota Paraíba."></a>
            <a href="https://twitter.com/ccmparaiba" target="_blank"><img class="imagem-redes-sociais" src="/img/tt.png" alt="Imagem com a logo do twitter. Clique nesta imagem para visitar a conta do twitter de Carolina Costa Mota Paraíba."></a>
        </div>
        <p class="nome-contato">Gilberto Pereira Sassi</p>
        <div class="redes-sociais-pessoa">
            <a href="mailto:gilberto.sassi@ufba.br" target="_blank"><img class="imagem-redes-sociais" src="/img/email.png" alt="Imagem representando uma mensagem dentro de um envelope. Clique nesta imagem para enviar uma mensagem para Gilberto Sassi."></a>
            <a href="https://twitter.com/gilberto_sassi" target="_blank"><img class="imagem-redes-sociais" src="/img/tt.png" alt="Imagem com a logo do twitter. Clique nesta imagem para visitar a conta do twitter de Gilberto Sassi."></a>
        </div>
    </div>
    <div class="contato">
        <form action="https://formsubmit.co/inscricao.cursos.ufba@gmail.com" method="POST">
            {% for block in this.campos.blocks %}
                {{ block }}
            {% endfor %}
            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Submeter</button>
        </form>
    </div>
</div>
{% endblock %}